<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.blog.mapper.license.EICMapper">

	<!-- 해당 Chapter의 총 문제 갯수를 가져온다. -->
	<select id="CountOfChapter" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHAPTER${value}
		WHERE 1=1
			AND LICENSE = 'EIC'
	</select>

	<!-- 해당 Chapter의 20문제를 가져온다. -->
	<select id="getQuestionList" parameterType="com.inbiznetcorp.blog.VO.QuestionListVO" resultType="hashmap">
		SELECT
			 SEQ
			,QUESTION
			,EXAMPLE1
			,EXAMPLE2
			,EXAMPLE3
			,EXAMPLE4
			,ANSWER
		FROM
			${chapter}
		WHERE 1=1
			AND SEQ IN (${seq})
			AND LICENSE = 'EIC'
	</select>
	
	<!-- 테스트 이력을 가져온다. -->
	<select id="getHistory" resultType="hashmap">
		SELECT
			 SEQ
			,LICENSE
			,SUBJECT
			,SCORE
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d') AS CREATEDATE
			,DATE_FORMAT(CREATEDATE, '%H:%i:%s') AS CREATETIME
		FROM
			TESTHISTORY
		WHERE 1=1
			AND LICENSE = 'EIC'
	</select>
	
	<!-- TEST 종료 후 이력추가 -->
	<insert id="TestComplete">
		INSERT INTO
			TESTHISTORY
		(
			 LICENSE
			,SUBJECT
			,SCORE
			,CREATEDATE
		)
		VALUES
		(
			 #{license}
			,#{subject}
			,#{score}
			,now()
		)
	</insert>

</mapper>
