<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inbiznetcorp.blog.mapper.license.EICMapper">

	<!-- Chapter2 20문제를 가져온다. -->
	<select id="Chapter2" parameterType="String" resultType="hashmap">
		SELECT
			 SEQ
			,QUESTION
			,EXAMPLE1
			,EXAMPLE2
			,EXAMPLE3
			,EXAMPLE4
			,ANSWER
		FROM
			CHAPTER2
		WHERE 1=1
			AND SEQ IN (${value})
	</select>

</mapper>
